# Configure minecraft-server

- name: Verify that podman is installed
  ansible.builtin.apt:
    name: podman
    state: present
    update_cache: true

- name: Ensure that minecraft-srv user exists
  ansible.builtin.user:
    name: minecraft-srv
    shell: /bin/bash
    password: '!'
    password_lock: true

- name: Enable lingering for minecraft-srv user
  ansible.builtin.command: loginctl enable-linger minecraft-srv

- name: Create server directory
  ansible.builtin.file:
    path: /home/minecraft-srv/servers/maicraft
    state: directory
    mode: '0755'
    owner: minecraft-srv
    group: minecraft-srv

- name: Copy start script
  ansible.builtin.copy:
    src: start.sh
    dest: /home/minecraft-srv/servers/maicraft/
    mode: '0755'
    owner: minecraft-srv
    group: minecraft-srv

- name: Create user's container systemd directory
  ansible.builtin.file:
    path: /home/minecraft-srv/.config/containers/systemd
    state: directory
    mode: '0755'
    owner: minecraft-srv
    group: minecraft-srv

- name: Download minecraft-server installer
  ansible.builtin.get_url:
    url: https://maven.neoforged.net/releases/net/neoforged/neoforge/21.1.216/neoforge-21.1.216-installer.jar
    dest: /home/minecraft-srv/servers/maicraft
    mode: '0755'
    owner: minecraft-srv
    group: minecraft-srv

- name: Configure podman container and quadlet file
  become: true
  become_user: minecraft-srv
  containers.podman.podman_container:
    name: minecraft-server
    image: docker.io/library/eclipse-temurin:21-jre-ubi9-minimal
    volume: 
      - /home/minecraft-srv/servers/maicraft:/data
    workdir: /data
    publish: 
      - 25565:25565
    command: /data/start.sh
    state: quadlet
    quadlet_options:
      - |
        [Service]
        Restart=on-failure
      - |
        [Install]
        WantedBy=default.target
  notify: Reload systemd user daemon (Root Proxy Method)

- name: Coppy the accepted eula
  ansible.builtin.copy:
    src: eula.txt
    dest: /home/minecraft-srv/servers/maicraft/
    mode: '0755'
    owner: minecraft-srv
    group: minecraft-srv

- name: Start and enable minecraft-server service (executes run.sh)
  become: true
  become_user: minecraft-srv
  ansible.builtin.systemd:
    scope: user
    name: minecraft-server.service
    state: started
    enabled: true

- name: Allow Minecraft port in nftables (IPv4/IPv6)
  ansible.builtin.lineinfile:
    path: /etc/nftables.conf
    regexp: 'tcp dport 25565 accept'
    insertafter: 'chain input \{'
    line: '        tcp dport 25565 accept'
    state: present
  notify: Reload nftables
