# Configure minecraft-server

- name: Verify that podman is installed
  ansible.builtin.apt:
    name: podman
    state: present
    update_cache: true

- name: Ensure that minecraft-server user exists
  ansible.builtin.user:
    name: minecraft-srv
    shell: /bin/bash
    password: '!'
    password_lock: true

- name: Create server directory
  ansible.builtin.file:
    path: /home/minecraft-srv/servers/maicraft
    state: directory
    mode: '0700'
    owner: minecraft-srv
    group: minecraft-srv

- name: Download minecraft-server
  ansible.builtin.get_url:
    url: https://maven.neoforged.net/releases/net/neoforged/neoforge/21.1.216/neoforge-21.1.216-installer.jar
    dest: /home/minecraft-srv/servers/maicraft
    mode: '0700'
    owner: minecraft-srv
    group: minecraft-srv

- name: Configure podman container
  become: true
  become_user: minecraft-srv
  containers.podman.podman_container:
    name: minecraft-server
    image: docker.io/library/eclipse-temurin:21-jre-ubi9-minimal
    volume: 
      - /home/minecraft-srv/servers/maicraft:/data
    workdir: /data
    expose: 25565
    command: tail -f /dev/null

- name: Run the required commands
  become: true
  become_user: minecraft-srv
  containers.podman.podman_container_exec:
    name: minecraft-server
    workdir: /data
    argv:
      - /bin/bash
      - -c
      - "java -jar neoforge-21.1.216-installer.jar --installServer && ./run.sh"

- name: Stop container after initial installation
  become: true
  become_user: minecraft-srv
  containers.podman.podman_container:
    name: minecraft-server
    state: stopped

- name: Accept the eula
  ansible.builtin.lineinfile:
    path: /home/minecraft-srv/servers/maicraft/eula.txt
    regexp: 'eula=false'
    line: eula=true
